h1 {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    margin: 40px;
    padding: 25px;
    text-align: center;
}

p   {
     color: rgb(71, 255, 80);

}

a  {
    color: rgb(141, 19, 255);
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(226, 130, 255);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

nav ul li{
    display: inline;
    
}

nav ul li a {
    display: block;
    padding: 10px;
    background-color: rgb(206, 132, 248)
}

#container {
    background-color: rgba(0, 0, 0, 0.685);
    height: 150%;
}
 
.home {
    background-image: url("https://images8.alphacoders.com/755/thumb-1920-755323.jpg")
    
}

.help {
    background-image: url("https://animetree.files.wordpress.com/2014/08/jjba-stardust-crusaders-leg-pose.jpg")
}

.Memes {
    background-image: url("https://i.kym-cdn.com/photos/images/newsfeed/000/754/539/566.gif")
}
.spiderman{
    background-image: url("https://a-static.besthdwallpaper.com/animation-spider-man-into-the-spider-verse-wallpaper-1680x1050-6708_5.jpg")
}